#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.business-card {
  width: 96%;
  padding: 2%;
  will-change: filter;
  transition: filter 300ms;
}

.spin-element {
  transform-origin: center;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .business-card {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
}

